<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Week 1</title>

    <style>

        p {
            font-size: 20px;
            color:rgb(0, 0, 0);
            /* background: #000; */

        }

        div{
            border-radius: 24px;
            border: 2px solid rgb(41, 0, 128);
            background: #f28888;
            padding: 20px;
        }

    </style>

</head>
<body>

    <div>
    <p>Saving changes to github repo.</p>
    <p>further changes</p>
    <p>Changes made inside github</p>
    <p>Conflict Resolution</p>
    <p>Github Conflict</p>
    </div>

</body>
</html>
